In [1]:
import pandas as pd

In [9]:
import matplotlib.pyplot as plt

In [3]:
import seaborn as sns

# Carregar os dados do arquivo CSV com a codificação 'latin1'

In [4]:
url = "https://raw.githubusercontent.com/valdineyatilio/Projeto-Aplicado-I/main/Aula2/Dados%20YouTube.csv.csv"

In [10]:
dados_youtube = pd.read_csv(url, encoding='latin1')

# Visualizar as primeiras linhas do DataFrame

In [11]:
print(dados_youtube.head())

   rank                    Youtuber  subscribers   video views  \
0     1                    T-Series    245000000  2.280000e+11
1     2              YouTube Movies    170000000  0.000000e+00
2     3                     MrBeast    166000000  2.836884e+10
3     4  Cocomelon - Nursery Rhymes    162000000  1.640000e+11
4     5                   SET India    159000000  1.480000e+11

           category                       Title  uploads        Country  \
0             Music                    T-Series    20082          India
1  Film & Animation               youtubemovies        1  United States
2     Entertainment                     MrBeast      741  United States
3         Education  Cocomelon - Nursery Rhymes      966  United States
4             Shows                   SET India   116536          India

  Abbreviation   channel_type  ...  subscribers_for_last_30_days  \
0           IN          Music  ...                     2000000.0
1           US          Games  ...                           NaN
2           US  Entertainment  ...                     8000000.0
3           US      Education  ...                     1000000.0
4           IN  Entertainment  ...                     1000000.0

   created_year  created_month  created_date  \
0        2006.0            Mar          13.0
1        2006.0            Mar           5.0
2        2012.0            Feb          20.0
3        2006.0            Sep           1.0
4        2006.0            Sep          20.0

   Gross tertiary education enrollment (%)    Population  Unemployment rate  \
0                                     28.1  1.366418e+09               5.36
1                                     88.2  3.282395e+08              14.70
2                                     88.2  3.282395e+08              14.70
3                                     88.2  3.282395e+08              14.70
4                                     28.1  1.366418e+09               5.36

   Urban_population   Latitude  Longitude
0       471031528.0  20.593684  78.962880
1       270663028.0  37.090240 -95.712891
2       270663028.0  37.090240 -95.712891
3       270663028.0  37.090240 -95.712891
4       471031528.0  20.593684  78.962880

[5 rows x 28 columns]

# Verificar informações sobre as colunas e tipos de dados

In [12]:
print(dados_youtube.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 28 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   rank                                     995 non-null    int64
 1   Youtuber                                 995 non-null    object
 2   subscribers                              995 non-null    int64
 3   video views                              995 non-null    float64
 4   category                                 949 non-null    object
 5   Title                                    995 non-null    object
 6   uploads                                  995 non-null    int64
 7   Country                                  873 non-null    object
 8   Abbreviation                             873 non-null    object
 9   channel_type                             965 non-null    object
 10  video_views_rank                         994 non-null    float64
 11  country_rank                             879 non-null    float64
 12  channel_type_rank                        962 non-null    float64
 13  video_views_for_the_last_30_days         939 non-null    float64
 14  lowest_monthly_earnings                  995 non-null    float64
 15  highest_monthly_earnings                 995 non-null    float64
 16  lowest_yearly_earnings                   995 non-null    float64
 17  highest_yearly_earnings                  995 non-null    float64
 18  subscribers_for_last_30_days             658 non-null    float64
 19  created_year                             990 non-null    float64
 20  created_month                            990 non-null    object
 21  created_date                             990 non-null    float64
 22  Gross tertiary education enrollment (%)  872 non-null    float64
 23  Population                               872 non-null    float64
 24  Unemployment rate                        872 non-null    float64
 25  Urban_population                         872 non-null    float64
 26  Latitude                                 872 non-null    float64
 27  Longitude                                872 non-null    float64
dtypes: float64(18), int64(3), object(7)
memory usage: 217.8+ KB
None

# Resumo estatístico das variáveis numéricas

In [13]:
print(dados_youtube.describe())

            rank   subscribers   video views        uploads  video_views_rank  \
count  995.00000  9.950000e+02  9.950000e+02     995.000000      9.940000e+02
mean   498.00000  2.298241e+07  1.103954e+10    9187.125628      5.542489e+05
std    287.37606  1.752611e+07  1.411084e+10   34151.352254      1.362782e+06
min      1.00000  1.230000e+07  0.000000e+00       0.000000      1.000000e+00
25%    249.50000  1.450000e+07  4.288145e+09     194.500000      3.230000e+02
50%    498.00000  1.770000e+07  7.760820e+09     729.000000      9.155000e+02
75%    746.50000  2.460000e+07  1.355470e+10    2667.500000      3.584500e+03
max    995.00000  2.450000e+08  2.280000e+11  301308.000000      4.057944e+06

       country_rank  channel_type_rank  video_views_for_the_last_30_days  \
count    879.000000         962.000000                      9.390000e+02
mean     386.053470         745.719335                      1.756103e+08
std     1232.244746        1944.386561                      4.163782e+08
min        1.000000           1.000000                      1.000000e+00
25%       11.000000          27.000000                      2.013750e+07
50%       51.000000          65.500000                      6.408500e+07
75%      123.000000         139.750000                      1.688265e+08
max     7741.000000        7741.000000                      6.589000e+09

       lowest_monthly_earnings  highest_monthly_earnings  ...  \
count               995.000000              9.950000e+02  ...
mean              36886.148281              5.898078e+05  ...
std               71858.724092              1.148622e+06  ...
min                   0.000000              0.000000e+00  ...
25%                2700.000000              4.350000e+04  ...
50%               13300.000000              2.127000e+05  ...
75%               37900.000000              6.068000e+05  ...
max              850900.000000              1.360000e+07  ...

       highest_yearly_earnings  subscribers_for_last_30_days  created_year  \
count             9.950000e+02                  6.580000e+02    990.000000
mean              7.081814e+06                  3.490791e+05   2012.630303
std               1.379704e+07                  6.143554e+05      4.512503
min               0.000000e+00                  1.000000e+00   1970.000000
25%               5.217500e+05                  1.000000e+05   2009.000000
50%               2.600000e+06                  2.000000e+05   2013.000000
75%               7.300000e+06                  4.000000e+05   2016.000000
max               1.634000e+08                  8.000000e+06   2022.000000

       created_date  Gross tertiary education enrollment (%)    Population  \
count    990.000000                               872.000000  8.720000e+02
mean      15.746465                                63.627752  4.303873e+08
std        8.777520                                26.106893  4.727947e+08
min        1.000000                                 7.600000  2.025060e+05
25%        8.000000                                36.300000  8.335541e+07
50%       16.000000                                68.000000  3.282395e+08
75%       23.000000                                88.200000  3.282395e+08
max       31.000000                               113.100000  1.397715e+09

       Unemployment rate  Urban_population    Latitude   Longitude
count         872.000000      8.720000e+02  872.000000  872.000000
mean            9.279278      2.242150e+08   26.632783  -14.128146
std             4.888354      1.546874e+08   20.560533   84.760809
min             0.750000      3.558800e+04  -38.416097 -172.104629
25%             5.270000      5.590832e+07   20.593684  -95.712891
50%             9.365000      2.706630e+08   37.090240  -51.925280
75%            14.700000      2.706630e+08   37.090240   78.962880
max            14.720000      8.429340e+08   61.924110  138.252924

[8 rows x 21 columns]